@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
body {
    background-image: url("https://images.unsplash.com/photo-1513530176992-0cf39c4cbed4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80");
    font-family: 'Caveat', cursive;;
    color: black;
}
h1 {

}
h1:hover {
    color: darkgoldenrod;
}
a {
    display: flex;
    justify-content: space-between;
}

#coffee-man {
    margin-top: -8em;
    margin-left: 25em;
}
